<!DOCTYPE html>
<html>
  <head>
    <title>Everyleaftask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>
  

  <body>
  <%= t('view.sample') %>
    <%= yield %>
  </body>
</html>
